STK_API_ORIGIN=https://stk-api.zz-yihao.com
STK_ADMIN_ORIGIN=https://stk-admin.zz-yihao.com
STK_STATIC_ORIGIN=https://stk-static.zz-yihao.com
STK_DOWNLOAD_ORIGIN=https://stk-download.zz-yihao.com
STK_APP_ORIGIN=https://stk.zz-yihao.com
STK_TLS_REQUIRED=1
